.favoriteslist {
  text-align: center;
  width: 75%;
  margin: 2rem;
  margin-left: 10%;
}

.allFavCards {
  background-color: rgb(114, 128, 73, .4);

}

.favcard-route {
  background-color: rgb(114, 128, 73, .4);
  padding: 20px 10px;
  margin-bottom: 25px;
}

.arrow {
  font-size: 30px;
  color: #193232;
  font-weight: bolder;
}
.favcard-results-span{
  font-weight: lighter;
}
.heartfull-icon{
  width:25%;
}
.heart-btn{
width: 28%;
}