/************* HEADER ***************/
.header-component{
  color: #ffc400;
  background-color: #193232;
}

/************* FOOTER ***************/
.footer-component{
  color: #ffc400;
  background-color: #728049;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  font-size: 10px;
}
/************* LOGO ***************/
.cycleRoute-logo{
  height:28%;
  width:28%;
}